packages: [
  "apex-syntax"
  "apex-ui"
  "apex-ui-slim"
  "atom-github-2014-syntax"
  "atom-github-theme"
  "atom-ide-ui"
  "atom-monokai"
  "atom-monokai-dark"
  "autocomplete-flow"
  "autocomplete-haskell"
  "base16-ocean-dark-spacegray"
  "batman-syntax"
  "busy-signal"
  "cake-syntax"
  "coffee-navigator"
  "color-picker"
  "dracula-syntax"
  "duotone-dark-earth-syntax"
  "duotone-dark-forest-syntax"
  "duotone-dark-sea-syntax"
  "duotone-dark-space-syntax"
  "duotone-dark-syntax"
  "duotone-light-syntax"
  "duotone-snow"
  "file-icons"
  "fizzy"
  "github-2014"
  "github-atom-light-syntax"
  "github-web"
  "gruvbox"
  "ide-flowtype"
  "ide-java"
  "ide-typescript"
  "intentions"
  "language-babel"
  "language-elm"
  "language-freemarker"
  "language-graphql"
  "language-haskell"
  "language-liquid"
  "language-vue"
  "linter"
  "linter-clojure"
  "linter-coffeescript"
  "linter-csslint"
  "linter-eslint"
  "linter-flow"
  "linter-flow-plus"
  "linter-ui-default"
  "mac-github-syntax"
  "monokai"
  "octocat-syntax"
  "open-in-gitx"
  "package-sync"
  "parinfer"
  "piatto-light-syntax"
  "polaris-syntax"
  "pristine-ui"
  "proto-repl"
  "pumpkin-syntax"
  "pure-syntax"
  "railscast"
  "railscast-theme"
  "react"
  "seti-monokai"
  "seti-syntax"
  "seti-ui"
  "slack-ui"
  "swackets"
  "teletype"
  "terminal-panel"
  "terminal-plus"
  "terminal-status"
  "vim-mode"
  "vim-mode-plus"
]
